@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  font-size: 18px;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

:root{
  --dc: hsl(185, 75%, 39%);
  --vddb: hsl(229, 23%, 23%);
  --dgb: hsl(227, 10%, 46%);
  --dg:hsl(0, 0%, 59%);
  --vg:#cccccc;
  transform: rotate(45deg);
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--dc);
  background-image: url(../images/bg-pattern-top.svg);
  background-repeat: repeat-x;
  transform: rotate(-45deg);
}

h1{
  height: auto;
  width: 100%;
  color: var(--vddb);
}
span{
  color: var(--dg);
  font-size: 16px;
  font-weight: lighter;
}
h4{
  color: var(--dg);
  font-size: 15px;
  margin-top: -3%;
  font-weight: lighter;
}

ul{
  list-style: none;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  max-width: 450px;
  max-height: 800px;
  border-radius: 20px;
  border-color: var(--dc);
  border-width: thin;
  background-color: white;
}

.top_card{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 20%;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(../images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.info{
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  align-items: center;
  padding-left: 120px;
  padding-right: 120px
}

.img{
  position: relative;
  margin-top: -12%;
  margin-right: 20%;
  margin-left: 20%;
  border: 5px solid white;
  border-radius: 50px;
}

.stats{
  padding-top: 2%;
  padding-bottom: 2%;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: solid var(--vg);
  border-width: thin;
  justify-content: space-evenly;
}

.value{
  font-weight:bold;
  color: var(--vddb);
}

.type{
  font-size: 12px;
  font-weight: lighter;
  color: var(--dg);
  line-height: 2;
}

.attribution {
margin-top: 10%;
font-size: 11px;
text-align: center;
}
.attribution a {
color: hsl(228, 45%, 44%);
}
